<form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <input id="firstName" type="text" placeholder="First Name" formControlName="firstName">
        <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)">
            <p class="danger" *ngIf="registerForm.get('firstName')?.hasError('required')">First Name cannot be empty</p>
        </div>
    </div>
    <div class="form-control">
        <input id="lastName" type="text" placeholder="Last Name" formControlName="lastName">
        <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
            <p class="danger" *ngIf="registerForm.get('lastName')?.hasError('required')">Last Name cannot be empty</p>
        </div>
    </div>
    <div class="form-control">
        <input id="email" type="email" placeholder="Email Address" formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <p class="danger" *ngIf="registerForm.get('email')?.hasError('required')">Email cannot be empty</p>
            <p class="danger" *ngIf="registerForm.get('email')?.hasError('email')">Looks like this is not an email</p>
        </div>
    </div>
    <div class="form-control">
        <input id="password" type="password" placeholder="Password" formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            <p class="danger" *ngIf="registerForm.get('password')?.hasError('required')">Password cannot be empty</p>
            <p class="danger" *ngIf="registerForm.get('password')?.hasError('pattern')">Minimum 8 characters or numbers</p>
        </div>
    </div>

    <button class="btn" type="submit" [ngStyle]="{ 'text-decoration': strikeThrough ? 'none' : 'line-through' }" [disabled]="!registerForm.valid">CLAIM YOUR FREE TRIAL</button>

    <p class="disclaimer">By clicking the button, you are agreeing to our <a href="#">Terms and Services</a></p>
</form>