<div class="wrapper"> 
  <div class="receptacle left-container">
    <div class="box-content">
      <h1 class="caption">
        Learn to code by <br />
        watching others
      </h1>
      <p class="blurb">
        See how experienced developers solve problems in real-time.<br /> 
        Watching scripted tutorials is great, but understanding how<br /> 
        developers think is invaluable.<br /> 
      </p>
    </div>
  </div>
  <div class="receptacle right-container">
    <div class="box-content">
      <app-teaser background="hsl(248, 32%, 49%)" color="#fff"></app-teaser>
      <app-register></app-register>
    </div>
  </div>
  <footer>
    <p class="signature">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://www.frontendmentor.io/profile/Ross-Berry">Ross Berry</a>.
    </p>
  </footer>
</div>