@import "https://fonts.google.com/specimen/Poppins";

* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url("./assets/images/bg-intro-desktop.png");
}

.receptacle {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}

.left-container {
    float: left;
    display: flex;
    justify-content: flex-end;
}

.right-container {
    float: right;
    display: flex;
    justify-content: flex-start;
}

.box-content {
    padding: 20px;
    // border: 1px solid black;
}

.caption {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.blurb {
    color: #fff;
}